div{
    background-color: brown;
    margin: 0%;
    padding: 10px;
    margin: 10px;
}
.photo{
    height: 500px;
    width: 500px;
    padding: 10px;
    background-position: center;
    background-color: aqua;
    

}